/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container styles */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

/* Form container styles */
.form-container {
    flex: 0.1;
    padding: 1px;
    background-color: #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
    max-width: 300px;
    margin: 0 auto;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container input[type="tel"],
.form-container select,
.form-container input[type="file"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.form-container input[type="radio"],
.form-container input[type="checkbox"] {
    margin-right: 5px;
}

.form-container input[type="button"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="button"]:hover {
    background-color: #45a049;
}

/* Table container styles */
.table-container {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 10px;
    text-align: left;
}

.table-container th {
    background-color: #ffffff;
    font-weight: bold;
}

/* Message box styles */
.message-box {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.message-box span.close-btn {
    cursor: pointer;
    float: right;
    font-weight: bold;
}

/* Hidden class */
.hidden {
    display: none;
}


/* Styles pour la table */
#comptabiliteTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#comptabiliteTable th, #comptabiliteTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#comptabiliteTable th {
    background-color: #f2f2f2;
}

/* Styles supplémentaires pour améliorer l'aspect de la page */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
